<!DOCTYPE html>
<html>
<head>
    <title>Item Detail</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
        <p>
        {% if item.currency == 'rub' %}
            Total Price: {{ item.price }} &#8381
        {% else %}
            Total Price: {{ item.price }} $
        {% endif %}
    </p>
    <button id="buy-button">Buy</button>

    {% csrf_token %}

    <script>
        var stripePublicKey = '{{ stripe_public_key }}';
        var stripe = Stripe(stripePublicKey);
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function() {
            fetch('/api/buy/{{ item.id }}')
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    stripe.redirectToCheckout({ sessionId: data.session_id });
                });
        });
    </script>
</body>
</html>